<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="gemini_market_bookkeeper" xsi:type="object">Kobens\Gemini\Console\Command\Market\BookKeeper</item>
                <item name="gemini_market_ticker" xsi:type="object">Kobens\Gemini\Console\Command\Market\Ticker</item>
                <item name="gemini_order_list" xsi:type="object">Kobens\Gemini\Console\Command\Order\ListOrder</item>
            </argument>
        </arguments>
    </type>
    <type name="Kobens\Gemini\Model\Exchange">
        <arguments>
            <argument name="cacheInterface" xsi:type="object">Kobens\Gemini\Model\Cache</argument>
            <argument name="pairs" xsi:type="array">
                <item name="btcusd" xsi:type="object">Kobens\Core\Model\Exchange\Pair\BTC\USD</item>
                <item name="ethusd" xsi:type="object">Kobens\Core\Model\Exchange\Pair\ETH\USD</item>
                <item name="ethbtc" xsi:type="object">Kobens\Core\Model\Exchange\Pair\ETH\BTC</item>
            </argument>
        </arguments>
    </type>
</config>
